/cupid-unleashed-backend/target

*.iml
.gradle
/cupid-unleashed-manager/local.properties
/cupid-unleashed-manager/.idea/caches
/cupid-unleashed-manager/.idea/libraries
/cupid-unleashed-manager/.idea/modules.xml
/cupid-unleashed-manager/.idea/workspace.xml
/cupid-unleashed-manager/.idea/navEditor.xml
/cupid-unleashed-manager/.idea/assetWizardSettings.xml
.DS_Store
/cupid-unleashed-manager/build
/cupid-unleashed-manager/captures
.externalNativeBuild
.cxx
local.properties

*.jks
*.jkpass
*.idsig
cupid-unleashed.zip
UnleashedManager.apk
cupid-unleashed
